<div class="game-list">
  <div class="center"><h5>Last 10 games</h5></div>
  <div class="center" style="padding: 0.5%">
    <% if @club.games.present? %>
        <table class="table table-hover">
            <thead>
            <tr>
              <th style="width:40%"></th>
              <th style="width:20%"></th>
              <th style="width:40%"></th>
            </tr>
            </thead>
            <% @game_list.each do |game| %>
              <tbody>
                <tr>
                <td><%= game.clubs.first.clubname %></td>
                <td><%= game.total %></td>
                <td><%= game.clubs.last.clubname %></td>
            <% end %>
              </tr>
              </tbody>
            <% else %>
            <h4 class="center"><%= @club.clubname %> there is not have games...</h4>
        <% end %>
        </table>
  </div>
</div>