.idea/
.bundle
.project
*.log
log/*.pid
config/seeds.rb
db/schema.rb
public/system
public/sitemap
public/assets
public/ckeditor_assets/pictures
tmp/**/*
.DS_Store
doc/app
*.*~
coverage
config/database.yml