<div class="mini-header-left-panel">
  <p>Article:</p>
</div>
  <% Article.find_all_by_approved(true).last(10).each do |a| %>
      <div style="padding: 1% 2%">
        <li>
          <%= link_to a.title, a %>
        </li>
      </div>
      <br/>
  <% end %>
