<div class="index-container">
    <% @posts.each do |post| %>
        <div class="post-container">
          <%= post.title %><br/>
          <%= post.text %>
          <%= link_to "Delete",post, :class => 'right', method: :delete,
                    data: { confirm: "You sure?" } if current_admin %>
        </div>
        <br/>
    <% end %>
</div>
