<div class="mini-header-left-panel">
  <p>Injured list:</p>
</div>
<% Injured.last(10).each do |i| %>
    <div style="padding: 1% 2%">
        <li>
            <%= i.player_name %>
            (<%= i.injurious %>)
           <p class="right"> End: <label class="label"><%= i.date_and %></label></p>
        </li>
    </div>
    <br/>
<% end %>